body {
    background-color: rgb(128, 222, 234);
    

}

/* flexbox pour les images */
div.image-container{
    display: flex;
}
#image-container{
    display: flex;
}

#image-container {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 2px solid black;
}
