#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container img {
    width: 80%;
}

.dot {
    pointer-events: none;
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}